#banner-hero .banner-hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../assets/img/list-loker.png");
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 350px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

#banner-hero .banner-hero-content::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(50, 120, 255, 0.5);
  z-index: -1;
}

#banner-hero .banner-hero-content .search-list-loker {
  width: 50%;
  margin: 0 auto;
}

#banner-hero .banner-hero-content .search-list-loker .form-control {
  height: 45px;
  border-radius: 60px 0px 0px 60px;
}

#banner-hero .banner-hero-content .search-list-loker button {
  border-radius: 0px 60px 60px 0px;
  width: 57px;
  font-size: 18px;
}

.section-explore-job a {
  text-decoration: none;
  color: black;
  overflow: hidden;
  width: 100%;
}

.section-explore-job a .card {
  overflow: hidden;
}

.section-explore-job a:hover {
  overflow: hidden;
}

.section-explore-job a:hover .card {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.section-explore-job a:hover .card h5 {
  color: gray;
}

.section-explore-job a:hover .card h5:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .banner-hero-content {
    height: 250px !important;
  }
  .banner-hero-content .search-list-loker {
    width: 80% !important;
  }
}

#detail-job .detail-job-content {
  position: relative;
}

#detail-job .detail-job-content img.img-large {
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  border-radius: 10px 10px 0px 0px;
}

#detail-job .logo-job-detail {
  position: relative;
}

#detail-job .logo-job-detail img.logo-company-detail {
  position: absolute;
  left: 40px;
  bottom: -13%;
}

#detail-job .detail-job-description {
  border-radius: 0px 0px 10px 10px;
  padding: 60px 43px;
  background-color: #f5f5f5;
  position: relative;
  z-index: -1;
  top: -4px;
}

#detail-job .detail-job-description h2 {
  font-size: 30px;
}

#detail-job .detail-job-description .text-location {
  font-size: 16px;
  margin: 0;
}

#detail-job .detail-job-description .text-location i {
  margin-right: 10px;
}

#detail-job .detail-job-description .text-mounth {
  font-size: 16px;
  margin: 0;
}

#detail-job .detail-job-description .text-mounth i {
  margin-right: 10px;
}

#detail-job .description-pekerjaan {
  margin-top: 30px;
}

#detail-job .description-pekerjaan h3 {
  font-size: 20px;
}

#detail-job .tentang-perusahaan {
  margin-top: 30px;
}

#detail-job .tentang-perusahaan h3 {
  font-size: 20px;
}

#detail-job .tentang-perusahaan .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

#detail-job .tentang-perusahaan .content img {
  width: 70px;
  height: 70px;
  margin-right: 8px;
  border-radius: 10px;
}

#detail-job .tentang-perusahaan .content .title h4 {
  margin-bottom: 0px;
  font-size: 18px;
}

#detail-job .tentang-perusahaan .content .title .icon i {
  margin-top: 4px;
  font-size: 21px;
  color: #60a9ff;
  width: 32px;
  background-color: #ecf2ff;
  height: 32px;
  border-radius: 50%;
  line-height: 32px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .banner-hero-content {
    height: 250px !important;
  }
  .banner-hero-content .search-list-loker {
    width: 80% !important;
  }
  #detail-job .detail-job-description {
    padding: 60px 20px !important;
  }
  #detail-job .logo-job-detail img.logo-company-detail {
    left: 15px !important;
  }
}

.team-content .content-tile {
  text-align: center;
}

.team-content .content-tile p {
  color: #6f6d6d;
}

.team-content .card {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#1b5ef3), to(#7bb8ff));
  background: linear-gradient(180deg, #1b5ef3 0%, #7bb8ff 100%);
}

.team-content .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  padding: 20px 30px 0px;
}

.team-content .card .card-body {
  position: absolute;
  background-color: white;
  width: 85%;
  top: 99%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  text-align: center;
  padding: .8rem;
  border-radius: .25rem;
}

.team-content .card .card-body h5 {
  font-size: 19px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.055em;
  margin: 0;
}

.team-content .card .card-body p {
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.055em;
  margin: 3px 0px;
  color: #6f6d6d;
}

.team-content .card .card-body .team-icon a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .team-content .col-md-6 {
    width: 50%;
    margin-bottom: 80px !important;
  }
}

@media screen and (max-width: 500px) {
  .team-content .col-md-6 {
    width: 100% !important;
  }
  .team-content .col-md-6 .card .card-body h5 {
    font-size: 23px;
  }
  .team-content .col-md-6 .card .card-body p {
    font-size: 17px;
  }
  .team-content .col-md-6 .card .card-body a i {
    font-size: 18px;
  }
}

#blog .dekstop {
  display: block;
}

#blog .mobile {
  display: none;
}

#blog .search__container {
  position: relative;
}

#blog .search__container button {
  position: absolute;
  right: 10px;
  z-index: 1;
  bottom: 4px;
  padding: 14px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 1px 11px 0px #00000026;
          box-shadow: 0px 1px 11px 0px #00000026;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

#blog .search__container button i {
  line-height: 0px;
  font-size: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#blog .search__container:hover .search__input, #blog .search__container:focus .search__input {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

#blog .search__container:hover button, #blog .search__container:focus button {
  right: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

#blog .search__title {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  color: #ff8b88;
}

#blog .search__input {
  width: 100%;
  padding: 12px 24px;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #575756;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#blog .search__input::-webkit-input-placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

#blog .search__input:-ms-input-placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

#blog .search__input::-ms-input-placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

#blog .search__input::placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

#blog .blog-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#blog .blog-card .card h5 {
  font-size: 19px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}

#blog .blog-card .card p {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
}

#blog .pos-blog {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
}

#blog .pos-blog h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  color: #3278ff;
}

#blog .pos-blog .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  border: none;
}

#blog .pos-blog .card .img-blog-pos {
  margin-right: 10px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  width: 72px;
  height: auto;
}

#blog .pos-blog .card .card-body {
  padding: 0px;
}

#blog .pos-blog .card .card-body h5 {
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
}

#blog .pos-blog .card .card-body p {
  font-size: 14px;
  line-height: 17px;
  color: #6f6d6d;
}

@media screen and (max-width: 1024px) {
  #blog .blog-card {
    margin-bottom: 40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  #blog .dekstop {
    display: block;
  }
  #blog .mobile {
    display: none;
  }
  #blog .blog-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 450px) {
  #blog .blog-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
}

* {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #373737;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

h2 {
  font-size: 36px;
  font-weight: 600;
}

.mt-6 {
  margin-top: 4rem;
}

p {
  font-size: 18px;
}

.navbar {
  width: 100%;
}

.navbar .navbar-brand {
  font-size: 24px;
  color: #3278ff !important;
  font-weight: 600;
}

.navbar .navbar-collapse .navbar-nav .nav-item {
  margin-left: 30px;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #373737;
}

.navbar .active {
  color: #3278ff !important;
  font-weight: bold;
}

.section-jumbotron {
  position: relative;
}

.section-jumbotron .jumbotron-content h2 {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 23px;
}

.section-jumbotron .jumbotron-content h2 span {
  color: #3278ff;
}

.section-jumbotron .jumbotron-content p {
  font-size: 18px;
  color: #373737;
}

.section-jumbotron .jumbotron-image {
  text-align: right;
}

.section-jumbotron .jumbotron-image img {
  width: 480px;
  height: 528px;
}

.section-jumbotron .decor-circle {
  width: 100%;
  height: 110px;
  position: absolute;
  top: 0;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../assets/img/decor-circle.png");
}

.section-jumbotron .decor-kotak {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../assets/img/decor-kotak.png");
}

.section-about {
  position: relative;
  background-color: #3278ff;
  color: white;
}

.section-about .about-content {
  text-align: center;
  padding: 40px 0px;
}

.section-about .about-content h2 {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 20px 0px;
}

.section-about .about-content p {
  font-size: 18px;
  width: 62%;
  opacity: .9;
  margin: 20px auto;
  line-height: 27px;
}

.section-explore-job .explore-job-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.section-explore-job .explore-job-content .title-description p {
  margin-top: 30px;
  margin-bottom: 0px;
  color: #6f6d6d;
}

.section-explore-job .text-location {
  margin-bottom: 5px;
}

.section-explore-job .card {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 0px;
}

.section-get-your-job .get-your-job p {
  color: #6f6d6d;
  width: 35%;
  margin: 25px auto 0px auto;
}

.section-get-your-job .content h2 {
  margin-bottom: 30px;
}

.section-get-your-job .content p {
  margin-bottom: 30px;
}

.section-drop-your-cv .get-your-job p {
  color: #6f6d6d;
  width: 35%;
  margin: 25px auto 0px auto;
}

.section-drop-your-cv .content h2 {
  margin-bottom: 30px;
}

.section-drop-your-cv .content p {
  margin-bottom: 30px;
}

.section-drop-your-cv .content h2 {
  margin-bottom: 30px;
}

.section-drop-your-cv .content p {
  margin-bottom: 30px;
}

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 20px;
  -webkit-box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.12);
          box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.12);
  background-color: #3278ff;
  color: white;
}

footer i {
  margin-right: 2px;
}

footer .title_content p {
  font-size: 14px;
  color: lightgray;
}

footer .title_newsleter h6 {
  font-weight: 700;
}

footer .title_newsleter p {
  font-size: 14px;
  color: lightgray;
}

footer .title_link h6,
footer .title_service h6 {
  margin-bottom: 15px;
  font-weight: 700;
}

footer .title_link ul,
footer .title_service ul {
  margin: 0;
  padding: 0;
}

footer .title_link ul li,
footer .title_service ul li {
  list-style: none;
  margin-bottom: 10px;
}

footer .title_link ul li a,
footer .title_service ul li a {
  text-decoration: none;
  color: lightgray;
  font-size: 16px;
}

footer .title_link ul li a:hover,
footer .title_service ul li a:hover {
  color: white;
}

footer .title_link ul li a i,
footer .title_service ul li a i {
  font-size: 15px;
}

footer .input_subscribe {
  margin-top: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}

footer .input_subscribe input {
  padding: 6px 15px;
  border-radius: 125px;
  margin-right: 5px;
  border: 1px solid #03ac0e;
  outline: none !important;
}

footer .input_subscribe .btn-subscribe {
  padding: 10px 30px;
  position: absolute;
  left: 80%;
  top: -2px;
  background-color: #03ac0e;
  border-radius: 60px;
  text-decoration: none;
  color: white;
  -webkit-box-shadow: 2px 2px 5px #03ac0e;
          box-shadow: 2px 2px 5px #03ac0e;
}

footer .input_subscribe .btn-subscribe:hover {
  background: #43ac0e;
}

.footer-card h2 {
  color: #3278ff;
}

.footer-card .icon-card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-card .icon-card-footer .icon-footer {
  background-color: #ecf2ff;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  color: #3278ff;
  border-radius: 50%;
  line-height: 50px;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .card-pricisig .nav-link {
    padding: .5rem 1rem;
    border-radius: 4px;
  }
  .card-pricisig .card .card-body {
    padding: 1rem;
  }
  .input_subscribe {
    margin-bottom: 40px;
  }
  .input_subscribe .btn-subscribe {
    padding: 8px 20px !important;
  }
  .title_socialmedia a {
    padding: 8px !important;
  }
  .title_service {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

.loader {
  background-color: rgba(111, 109, 109, 0.7);
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100000;
}

.loader__element {
  border-radius: 100%;
  border: 5px solid white;
  margin: 18px;
}

.loader__element:nth-child(1) {
  -webkit-animation: preloader .6s ease-in-out alternate infinite;
          animation: preloader .6s ease-in-out alternate infinite;
}

.loader__element:nth-child(2) {
  -webkit-animation: preloader .6s ease-in-out alternate .2s infinite;
          animation: preloader .6s ease-in-out alternate .2s infinite;
}

.loader__element:nth-child(3) {
  -webkit-animation: preloader .6s ease-in-out alternate .4s infinite;
          animation: preloader .6s ease-in-out alternate .4s infinite;
}

@-webkit-keyframes preloader {
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes preloader {
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@media screen and (max-width: 768px) {
  .section-jumbotron .jumbotron-content h2 {
    font-size: 28px;
  }
  .section-jumbotron .jumbotron-content p {
    font-size: 14px;
  }
  .section-jumbotron .jumbotron-image img {
    display: block;
    width: 90%;
    -o-object-fit: cover;
       object-fit: cover;
    background-size: cover;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 0 auto;
  }
  .section-faq .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .section-faq .row img {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .section-jumbotron .jumbotron-content h2 {
    font-size: 40px !important;
  }
  .section-jumbotron .jumbotron-content p {
    font-size: 18px !important;
  }
  .jumbotron-image img {
    width: 100% !important;
    margin-bottom: 30px !important;
  }
  .jumbotron-content {
    text-align: center;
  }
  .section-about .about-content p {
    width: 100%;
  }
  .section-explore-job .explore-job-content {
    display: block;
    text-align: center;
  }
  .section-explore-job .btn {
    margin-top: 30px;
  }
  .section-drop-your-cv img {
    margin-bottom: 30px;
  }
  .section-get-your-job .get-your-job p {
    width: 100%;
  }
  h2 {
    font-size: 28px;
  }
  .reverse-md-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .decor-kotak {
    bottom: 60px !important;
  }
  .mobile-description {
    width: 100% !important;
    text-align: center !important;
    margin: 30px 0px;
  }
}
/*# sourceMappingURL=styles.css.map */